{
    "presets": [ "flow", "env", "react" ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-regenerator",
        "transform-class-properties",
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [ "Map", "Error", "Array" ]
            }
        ]
    ]
}