@import "helper";

.schema--attribute-integration-scheme {
  display : inline-block;
  @extend %active-labeled-schema-attribute;

  .schema--attribute-integration-scheme--evaluation {
    @extend %_identified;
    > * {
      display : inline;
    }
    .evaluation--argument {
      @extend %_identified;
    }
  }

  .schema--attribute-integration-scheme--evaluation-container {
    background : darken($light, 20%);
  }
}